<div class="container">
  <h1>新規投稿</h1>
  <div class="row">
    <div class="col">
      <%= form_with model:@post, local:true do |f| %>
      <%= render 'layouts/error', model: f.object %>
      <table class="table">
        <tr>
          <td>
            <h4>画像</h4>
          </td>
          <td>
            <div class="image_update_form">
              <%= f.attachment_field :image %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h4>タイトル</h4>
          </td>
          <td>
            <%= f.text_field :title, cols:'50' %>
          </td>
        </tr>
        <tr>
          <td>
            <h4>本文</h4>
          </td>
          <td>
            <%= f.text_area :body, rows:'5', cols:'50' %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="update_btn">
              <%= f.submit "投稿する", class:"btn btn-success" %>
            </div>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
