<div class="container">
  <% if current_user == @post.user %>
    <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-success"%>
  <% end %>
  <div class="row border-bottom border-dark pt-3">
    <div class="col-8 ">
      <div class="subtitle d-flex">
        <h2 class="post_title text-center mb-0">
          <%= @post.title %>
        </h2>
        <div class="favorites_buttons_show">
          <%= render'public/favorites/favorite', post: @post %>
        </div>
      </div>
      <div class="user_name text-start mt-0">
        <%= @post.user.name %>
      </div>
      <div>
        <%= @post.body %>
      </div>
    </div>
  <div class="col-4">
      <div class="profile_image p-0">
        <%= attachment_image_tag @post, :image, fallback: 'no_image.png', size:'300x300' %>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-8">
      <div class="comments">
        <%= render 'public/post_comments/index', post: @post %>
      </div>
      <div class="comment_create">
        <%= render'public/post_comments/form', post: @post, post_comment: @post_comment%>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>