<div class="container">
  <h1>投稿詳細</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="user_name text-center">
        <%= @post.user.name %>
      </div>
      <%= attachment_image_tag @post, :image, fallback: 'no_image.png', size:'300x300' %>
    </div>
    <div class="col-md-8 ">
      <div class="subtitle d-flex">
        <h2 class="post_title text-center">
          <%= @post.title %>
        </h2>
          <% if @post.favorited_by?(current_user) %>
            <p class="pt-3">
              <%= link_to post_favorites_path(@post), method: :delete do %>
                ❤<%= @post.favorites.count %>いいね
              <% end %>
            </p>
          <% else %>
            <p class="pt-3">
              <%= link_to post_favorites_path(@post), method: :post do %>
                ♡<%= @post.favorites.count %>いいね
              <% end %>
            </p>
          <% end %>
        </div>
      <div>
        <%= @post.body %>
      </div>
      <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-success"%>
    </div>
  </div>
  <% @post.post_comments.each do |post_comment| %>
    <div class="row comment_box">
      <div class="col-4"></div>
      <div class="col-8 comment_user_name ">
        <div>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        <h5><%= post_comment.user.name %>:</h5>
        </div>
        <div class="comment text-break">
          <%= post_comment.comment %>
          <% if post_comment.user == current_user %>
            <%= link_to "削除する", post_post_comment_path(post_comment.post,post_comment), method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <%= form_with(model:[@post,@post_comment],local:true) do |f| %>
        <div class="comment_form">
          <%= f.text_area :comment, rows:'5', cols:'100', placeholder:"コメントを書く" %>
        </div>
        <div class="submit_bottun text-end">
          <%= f.submit "送信する"%>
        </div>
      <% end %>
    </div>
  </div>
</div>