<div class="container">
  <h1>投稿詳細</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="user_name text-center">
        <%= @post.user.name %>
      </div>
      <%= attachment_image_tag @post, :image, fallback: 'no_image.png', size:'300x300' %>
    </div>
    <div class="col-md-8 ">
      <div class="subtitle d-flex">
        <h2 class="post_title text-center">
          <%= @post.title %>
        </h2>
        <div class="favorites_buttons_show">
          <%= render'public/favorites/favorite', post: @post %>
        </div>
      </div>
      <div>
        <%= @post.body %>
      </div>
      <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-success"%>
    </div>
  </div>
  <div class="comments">
    <%= render 'public/post_comments/index', post: @post %>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <div class="comment_create">
        <%= render'public/post_comments/form', post: @post, post_comment: @post_comment%>
      </div>
    </div>
  </div>
</div>