<div class="container">
  <div class="title text-center">
    <nav class="navbar navbar-expand">
      <% if @user == current_user %>
        <div class="edit_btn pb-2">
          <%= link_to edit_user_path(@user) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>
        <h1>プロフィール</h1>
        <div class="notification pl-4">
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: red;"></i>
            <% end %>
            <%= link_to "通知を見る", notifications_path, class:'btn btn-light' %>
        </div>
      <% else %>
      <h1>プロフィール</h1>
        <div class="follow_btn">
          <%= render 'public/relationships/follow_button', user: @user %>
        </div>
      <% end %>
  </nav>
  </div>
  <div class="row border-bottom">
    <div class="col-8">
      <table class="table">
        <tr>
            <td class="followed_count pt-2">
              <%= link_to user_followings_path(@user),class:'btn btn-info' do %>
                フォロー数：<%= @user.followings.count %>
              <% end %>
            </td>
            <td class="follower_count pt-2">
              <%= link_to user_followers_path(@user),class:'btn btn-info' do %>
                フォロワー数：<%= @user.followers.count %>
              <% end %>
            </td>
          </tr>
          <tr>
          <td class="user_name">
            <h3>ニックネーム</h3>
          </td>
          <td>
            <%= @user.name %>
          </td>
        </tr>
        <tr>
          <td class="introduction">
            <h3>自己紹介</h3>
          </td>
          <td>
            <%= @user.introduction %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-4">
      <div class="profile_image">
        <!--サイズ調整ができない-->
        <%= attachment_image_tag @user, :profile_image,fallback: 'no_image.png', size:'300x300', class: 'rounded-circle border-dark' %>
      </div>
    </div>
  </div>
  <%= render 'public/posts/index', posts: @posts %>
</div>